body {
  background-color:pink;
  font-size: 2em;
  font-family:arial;
  display:flex;
  justify-content:center;
  margin-top:50px;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 400px;
  min-height:400px;
  padding:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 8px 8px 15px -7px rgba(0, 0, 0, 0.69);
}

input {
  margin:10px 0px;
  padding:10px 20px;
  font-size: 0.8em;
  font-family: arial;
  border-radius: 5px;
}

button {
  background-color:rgb(247, 204, 211);
  border:none;
  font-size:0.6em;
  border-radius: 5px;
  padding:10px 20px;
  margin:10px 0px;
  transition: background-color 150ms;
}

button:hover {
  background-color: rgb(250, 181, 192);
}

.todoList{
  font-size: 0.8em;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.todo__item {
  display: flex;
}

.todo__item h2 {
  margin: 0;
}

.todo__item-check {
  margin-right: 10px;
  zoom:2;
}

.todo__item-name {
  display: flex;
  align-items: center;
}
